doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Gaze signal operationalization

		script(src="./ui-main.ls")
		
		style(type="text/css")
			include:stylus styles/main.styl
	body
		h1 Gaze signal operationalization benchmarks
		p An introduction here, lorem ipsum lorem ipsum lorem ipsum lorem

		h2 Reconstruction accuracy
		figure
			plot-area(id="sample-trial-plot")
			figcaption A random trial from the benchmark set with reconstruction by select segmentation algorithms.
		
		figure
			plot-area(id="scanpath-plot")
			figcaption A random trial from the benchmark set with reconstruction by select segmentation algorithms.
		
		figure
			plot-area(id="mrse-plot")
			figcaption Root mean square errors (RMSE) of reconstructions on different noise levels.
		
		
