doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Gaze signal analysis and simulation

		style(type="text/css")
			include:stylus style.styl

		script(src="./ui-main.ls")
	body
		plot-area(id="main-plot")
