html, body
	height: 100%
	margin: 0
	padding: 0
body
	display: flex
	height: 100%

plot-area
	display: block
	width: 100%
	> .mplot-canvas
		width: 100%
		height: 100%
	
	.measurement-plot path {
		fill: black !important
		opacity: 0.1 !important
	}
	

	.gaze-plot path {
		stroke: black !important
	}
