doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title GazeOpr testing

		style(type="text/css")
			include:stylus styles/main.styl
		
		style(type="text/css")
			include:stylus styles/test.styl

		script(src="./test.ls")
	body
