body
	display: flex
	flex-direction: column

test-block
	display: block

test-name
	display: block
	font-size: x-large

test-area
	display: block
	max-height: 500px
	overflow: auto;
	max-width: 100%;
