@import "styles/computermodern.css"

content-width = 20cm

html, body
	height: 100%
	margin: 0
	padding: 0
body
	max-width: content-width
	margin-top: 1cm
	margin-bottom: 1cm
	margin-left: auto
	margin-right: auto

	font-family: "Computer Modern Serif"

	> h1
		text-align: center
		font-weight: normal
		font-size: 300%
		font-style: italic

plot-area
	display: block
	width: 100%
	height: (content-width / 1.62)
	> .mplot-canvas
		width: 100%
		height: 100%
	
	.measurement-plot path
		fill: black !important
		opacity: 0.1 !important

	.gaze-plot path
		stroke: black !important

